<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

      <meta charset="utf-8">

      <div>
        <title>This is the Title</title>
        <h1>This is the header</h1>

          {% if request.user.is_authenticated %}
              <p>Hello {{request.user.username}} | <a href="{%url 'logout' %}">Logout</a></p>
          {% else %}
              <p style="margin-left: 1%;"> <a href="{%url 'register' %}">Register</a> | <a href="#">Login</a> </p>
          {% endif %}

      </div>
      
    </head>
    <hr>



    <body>
      {%block content%}

      {%endblock content%}
    </body>


    <footer>
      <div>
        <hr>
        <h3>This is the footer</h3>
      </div>
    </footer>
</html>
