<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta charset="utf-8">
    <head>
       <title>This is the Title</title>
          {% include 'snippets/header.html' %}
   </head>
    <body>

      <!-- Body -->
      <style type="text/css">
        .main {
          min-height: 100vh;
          height: 100%;
        }
      </style>
      <div class="main">
        {%block content%}

         

        {%endblock content%}
      </div>
        
      <!-- End Body -->
        {% include 'snippets/footer.html' %}
    </body>

</html>
