{% extends 'base.html'%}


{% block content %}

 <style type="text/css">

  @media (max-width: 768px) {
    .rigth-column{
      margin-left: 0px;
    }
  }

  @media (min-width: 768px) {
    .rigth-column{
      margin-left: 20px;
    }
  }
   .blog-post-container{
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
   }
   .create-post-bar{
    background-color: #fff;
    margin-bottom: 20px;
   }
   .left-column{
    padding: 0px;
   }
   .rigth-column{
    padding: 0px;
   }
   </style>

  <div class="container">
  		<div class="row"> 
  			
        <!-- Rigth create post bar -->
        <div class="create-post-bar d-lg-none col-lg-7 offset-lg-1">
          <a href="{%url 'blog:create' %}">Create Post</a>
        </div>

        <!-- end Rigth create post bar -->

        <!-- Blog feed  -->
        <div class="left-column col-lg-7 offset-lg-1">
          
          <div class="blog-post-container">
            <p>Thingy</p>
          </div>

          <div class="blog-post-container">
            <p>Thingy</p>
          </div>

          <div class="blog-post-container">
            <p>Thingy</p>
          </div>

          <div class="blog-post-container">
            <p>Thingy</p>
          </div>

        </div>
        <!-- end Blog feed  -->

        <!-- Rigth create post column -->
        <div class="rigth-column col-lg-3 d-lg-flex d-none flex-column">
          <div class="create-post-bar">
            <p>Stuff</p>  
            <p>Stuff</p>            
            <p>Stuff</p>            
            <p>Stuff</p> 
            <a href="{%url 'blog:create' %}">Create Post</a>           
          </div>
        </div>
        <!-- end Rigth create post column -->

  		</div>
  	
  </div>
  
 

{% endblock content %}
