{% extends 'base.html'%}


{% block content %}
<style type="text/css">
	
	.card{
		max-width: 700px;
	}
	.container{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">
		<!-- Blog Post -->
			 <div class="card m-auto ">
			 	<img class="img-top" src="{{blog_post.image.url}}">
			 	<div class="card-body mt-2 mb-2">
			 		<h2 class="card-title">{{blog_post.title}}</h2>
			 		<p class="card-text">{{blog_post.body|safe}}</p> <!-- blog_post.body|safe : Pemite que el body interprete codigos html por ejemplo si que hace el blog usa <p></p> el django lo va a interpretar -->
			 	</div>
			 	<div class="card-footer text-muted">
			 		Update on {{blog_post.date_updated}} by {{blog_post.author}}
			 	</div>
			 </div>


		<!-- End Blog Post -->
	</div>
</div>

{% endblock content %}