    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style type="text/css">
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
</style>
<!--     HEADER  -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
      {% if request.user.is_authenticated %}
    <p>Hello {{request.user.username}}</p>
      {% endif %}
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if request.user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a> 
        <a class="p-2 text-dark" href="{% url 'account' %}">Account</a> 
        <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
    {% else %}
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>  
            <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
            <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a> 

    {% endif %}
  </nav>
</div>
<!-- END HEADER -->


