{% extends 'base.html'%}


{% block content %}

<style type="text/css">

	.form-signin {
	  width: 100%;
	  max-width: 330px;
	  padding: 15px;
	  margin: auto;
	}
	.form-signin .form-control {
	  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: 10px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="username"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	.blog-posts{
		max-width: 500px;
		width: 100%;
		margin: auto;
	}

</style>

<form class="form-signin" method="post">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Account</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required value={{account_form.initial.email}}>

  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required value={{account_form.initial.username}}>
  
  	{% for field in account_form %}
	<p>	
		{% for error in field.errors  %}
			<p style="color: red;">{{error}}</p>
		{% endfor %}
	</p>	
	{% endfor %}
	{% if account_form.non_field_errors %}
		<div style="color: red;">
			<p>{{ account_form.non_field_errors  }}</p>				
		</div>
	{% endif %}

	{% if success_message %}
		<p style="color: green; text-align: center;"> {{success_message}}</p>
	{% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Saves changes</button>
</form>

<div class="container mt-4 p-4">
	<div class="row">
		<div class="blog-posts">
			<h3 class="mb-3 font-weight-normal">Blog Post:</h3>
			{% if blog_posts %}
				<ul>
				{% for posts in blog_posts %}
					<a href="{% url 'blog:detail' posts.slug %}" style="text-decoration:none;">
					<li class="list-group-item"> {{posts}} </li>
					</a>
				{% endfor %}
				</ul>
			{% else %}
				<p>You dont have any post. Create a post <a href="{% url 'blog:create'%}">here</a>.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}