{% extends 'base.html'%}


{% block content %}

<style type="text/css">

	.form-signin {
	  width: 100%;
	  max-width: 330px;
	  padding: 15px;
	  margin: auto;
	}
	.form-signin .form-control {
	  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

</style>

<form class="form-signin" method="post">{% csrf_token %}
	<div class="d-flex flex-column" pb-3>
		{% load static %}
		<img src="{% static 'img.jpg' %}" width="72" height="72" alt="Bike Trip" image>
		<img src="static/img.jpg" alt="new">
	</div>
  <h1 class="h3 mb-3 font-weight-normal">Login</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required >

  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  
	{% if login_form.non_field_errors %}
		<div style="color: red;">
			<p>{{ login_form.non_field_errors  }}</p>				
		</div>
	{% endif %}
	
  	{% for field in login_form %}
	<p>	
		{% for error in field.errors  %}
			<p style="color: red;">{{error}}</p>
		{% endfor %}
	</p>	
	{% endfor %}


  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>



{% endblock content %}