{% extends 'base.html'%}


{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Must Authenticate to view this page</p>
		<p class="m-auto">
			<a href="{% url 'register' %}">Register</a> or
			<a href="{% url 'login' %}">Login</a>

		</p>
	</div>
</div>


{% endblock content %}

